=begin
#Core API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module FrontApi
  class AttachmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Download attachment
    # Download an attachment file.
    # @param attachment_link_id [String] The Attachment ID
    # @param [Hash] opts the optional parameters
    # @return [Attachment]
    def download_attachment(attachment_link_id, opts = {})
      data, _status_code, _headers = download_attachment_with_http_info(attachment_link_id, opts)
      data
    end

    # Download attachment
    # Download an attachment file.
    # @param attachment_link_id [String] The Attachment ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Attachment, Integer, Hash)>] Attachment data, response status code and response headers
    def download_attachment_with_http_info(attachment_link_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttachmentsApi.download_attachment ...'
      end
      # verify the required parameter 'attachment_link_id' is set
      if @api_client.config.client_side_validation && attachment_link_id.nil?
        fail ArgumentError, "Missing the required parameter 'attachment_link_id' when calling AttachmentsApi.download_attachment"
      end
      # resource path
      local_var_path = '/download/{attachment_link_id}'.sub('{' + 'attachment_link_id' + '}', CGI.escape(attachment_link_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Attachment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['http']

      new_options = opts.merge(
        :operation => :"AttachmentsApi.download_attachment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttachmentsApi#download_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
